{% extends "base.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/syncs.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% for item in items %}
    <div class="content_div content_element">
        <form>
            <input type="hidden" name="id" value="{{ item._id }}" />

            <span class="sync_status sync_{{ item.status }}">{{ item.status }}</span>
            <span class="title">{{ item.src_str }} to {{ item.dst_str }}</span>

            <div class="element_actions">
                <a href=""><img class="img_button save_action" src="{{ url_for('static', filename='img/save.png') }}" alt="save"></img></a>
                <a href=""><img class="img_button" src="{{ url_for('static', filename='img/edit.png') }}" alt="edit"></img></a>
                <a href=""><img class="img_button" src="{{ url_for('static', filename='img/reset.png') }}" alt="reset"></img></a>
                <a href=""><img class="img_button" src="{{ url_for('static', filename='img/remove.png') }}" alt="remove"></img></a>
            </div>

            <div class="element_info">
                <table>
                    {% for key, val in [('Processed', item.processed), ('Reserved', item.reserved)] %}
                        <tr>
                            <td class="details_title">{{ key }}:</td><td>{% if val %}{{ val }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="element_edit">
                {% for title, type in [('Source', 'src'), ('Destination', 'dst')] %}
                    <table>
                        <tr>
                            <td><p class="title">{{ title }}</p></td>
                        </tr>
                        <tr>
                            <td class="details_title details_title_sub">user:</td>
                            <td>
                                <select title="user" name="{{ type }}_user">
                                    <option value="">any</option>
                                    {% for user in session.users %}
                                        <option value="{{ user._id }}"{% if  user._id == item[type]['user'] %} selected="true"{% endif %}>{{ user.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        {% for val in ['hwaddr', 'uuid', 'path'] %}
                            <tr>
                                <td class="details_title details_title_sub">{{ val }}:</td>
                                <td><input type="text" name="{{ type }}_{{ val }}" size="30" value="{{ item[type][val] }}" /><br></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}

                <table>
                    <tr>
                        <td><p class="title">Options</p></td>
                    </tr>
                    <tr>
                        <td class="details_title details_title_sub">exclusions:</td>
                        <td><input type="text" name="exclusions" size="30" value="{{ item.exclusions|join(', ') }}" /></td>
                    </tr>
                    <tr>
                        <td class="details_title details_title_sub">delete:</td>
                        <td><input type="checkbox" name="delete"{% if item.delete %} checked="checked"{% endif %} title="delete removed files at destination" /></td>
                    </tr>
                    <tr>
                        <td class="details_title details_title_sub">recurrence:</td>
                        <td>
                            <input type="number" name="recurrence" title="sync recurrence (hours)" size="2" min="2" max="168" value="{{ item.recurrence }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="details_title details_title_sub">time range:</td>
                        <td>
                            <input type="number" name="hour_begin" title="hour before which the sync cant start" size="2" min="-1" max="23" value="{% if item.hour_begin %}{{ item.hour_begin }}{% else %}-1{% endif %}" /> to
                            <input type="number" name="hour_end" title="hour after which the sync cant start" size="2" min="-1" max="23" value="{% if item.hour_end %}{{ item.hour_end }}{% else %}-1{% endif %}" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
{% endfor %}

<div class="content_div content_new">
    <div class="element_new">
        <form>
            {% for title, type in [('Source', 'src'), ('Destination', 'dst')] %}
                <table>
                    <tr>
                        <td><p class="title">{{ title }}</p></td>
                    </tr>
                    <tr>
                        <td class="details_title details_title_sub">user:</td>
                        <td>
                            <select title="user" name="{{ type }}_user">
                                <option value="">any</option>
                                {% for user in session.users %}
                                    <option value="{{ user._id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    {% for val in ['hwaddr', 'uuid', 'path'] %}
                        <tr>
                            <td class="details_title details_title_sub">{{ val }}:</td>
                            <td><input type="text" name="{{ type }}_{{ val }}" size="30" value="" /></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}

            <table>
                <tr>
                    <td><p class="title">Options:</p></td>
                </tr>
                <tr>
                    <td class="details_title details_title_sub">exclusions:</td>
                    <td><input type="text" name="exclusions" size="30" value="" /></td>
                </tr>
                <tr>
                    <td class="details_title details_title_sub">delete:</td>
                    <td><input type="checkbox" name="delete" checked="checked" title="delete removed files at destination" /></td>
                </tr>
                <tr>
                    <td class="details_title details_title_sub">recurrence:</td>
                    <td>
                        <input type="number" name="recurrence" title="sync recurrence (hours)" size="2" min="2" max="168" value="12" />
                    </td>
                </tr>
                <tr>
                    <td class="details_title details_title_sub">time range:</td>
                    <td>
                        <input type="number" name="hour_begin" title="hour before which the sync cant start" size="2" min="-1" max="23" value="-1" /> to
                        <input type="number" name="hour_end" title="hour after which the sync cant start" size="2" min="-1" max="23" value="-1" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class="element_new_actions">
        <a href=""><img class="img_button" src="{{ url_for('static', filename='img/add.png') }}" alt="add"></img></a>
    </div>
</div>
{% endblock %}
