.main-menu {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    font-size: 2.8em;
}
.content {
    margin: 10em 15% 14em 15%;
}
.content-div {
    padding: .8em;
    background-color: #272727;
}
.content-new {
    position: absolute;
    display: none;
    z-index: 999;
    left: 15%;
    right: 15%;
    top: 0;
    -webkit-box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
}
.content-new-trigger {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 0;
    height: 10em;
    background-color: transparent;
}
.content-element {
    position: relative;
    margin-top: 1px;
}
.element-info, .element-edit, .element-details {
    display: none;
    padding: 1em;
}
.element-highlight {
    background-color: #2d2d2d;
}
.element-actions {
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    margin-top: .5em;
}
.element-actions-new {
    padding: .8em;
    text-align: center;
}
.save-action {
    display: none;
}

.title-td {
    width: 16em;
}
.title-td-2 {
    padding-left: 2em;
}

.text-title {
    font-size: 1.6em;
}
.text-normal {
    font-size: 1.4em;
}

.img-button {
    height: 2.4em;
}

.input-text {
    width: 20em;
}

.host-status, .sync-status, .user-status {
    display: inline-block;
    width: 7em;
    margin-right: .4em;
    padding: .2em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    -ms-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    letter-spacing: .1em;
    text-shadow: .1em .1em .1em rgba(25, 25, 25, 0.7);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
}
.host-up, .sync-ok, .user-up {
    background-color: green;
}
.host-down, .user-down {
    background-color: red;
}
.sync-pending {
    background-color: #708090;
}

.table-details {
    padding: .8em;
    margin-bottom: 1em;
}
