{% extends "base.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/hosts.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% for item in items %}
    <div class="content_element">
        <input type="hidden" name="id" value="{{ item._id }}" />

        <div class="element_name">
            <table>
                <tr>
                    <td class="title">
                        {{ item.host }}{% if item.hostname %} ({{ item.hostname }}){% endif %}
                    </td>
                    <td class="td_button">
                        <a href=""><img class="img_button" src="{{ url_for('static', filename='img/more.png') }}" alt="more"></img></a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="element_info" style="display: none;">
            <table>
                {% for title, data in [('seen', item.seen), ('users', item.logged_users|join(', '))] %}
                    <tr>
                        <td class="details_title2">{{ title }}:</td>
                        <td>{{ data }}</td>
                    </tr>
                {% endfor %}

                {% for title, data in [('interfaces', item.ifconfig), ('disks', item.disks)] %}
                    {% if data %}
                        <tr>
                            <td class="details_title" colspan="2"><p class="title2">{{ title }}</p></td>
                        </tr>
                        {% for info in data %}
                            {% for key, val in info|dictsort %}
                                <tr>
                                    <td class="details_title2">{{ key }}:</td>
                                    <td>{% if val %}{{ val }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            <tr style="height: 10px;"></tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </table>
        </div>


    </div>
{% endfor %}

{% endblock %}
