{% extends "base.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='syncs.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% for item in items %}
    <div class="content_element">
        <form>
            <input type="hidden" name="id" value="{{ item._id }}" />

            <div class="element_name">
                <table>
                    <tr>
                        <td class="title">
                            {{ item.src_str }} to {{ item.dst_str }}
                        </td>
                        <td style="width: 200px;">
                            {% if item.finished %}
                                {{ item.finished }}
                            {% endif%}
                        </td>
                        <td class="td_button">
                            <a href=""><img class="img_button" src="{{ url_for('static', filename='edit.png') }}" alt="edit"></img></a>
                        </td>
                        <td class="td_button">
                            <a href=""><img class="img_button" src="{{ url_for('static', filename='more.png') }}" alt="more"></img></a>
                        </td>
                        <td class="td_button">
                            <a href=""><img class="img_button" src="{{ url_for('static', filename='save.png') }}" alt="save"></img></a>
                        </td>
                        <td class="td_button status">
                            <a href=""><img class="img_button" src="{{ url_for('static', filename='reset.png') }}" alt="reset"></img></a>
                        </td>
                        <td class="td_button">
                            <a href=""><img class="img_button" src="{{ url_for('static', filename='remove.png') }}" alt="remove"></img></a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="element_edit" style="display: none;">
                <table>
                    <tr>
                        {% for caption, type in [('source', 'src'), ('destination', 'dst')] %}
                            <td>
                                <p class="title2">{{ caption }}</p>
                                <table>
                                    <tr>
                                        <td class="details_title">user:</td>
                                        <td>
                                            <select title="user" name="{{ type }}_user">
                                                <option value="">any</option>
                                                {% for user in session.users %}
                                                    <option value="{{ user._id }}"{% if item[type]['username'] == user['username'] and item[type]['password'] == user['password'] %} selected="true"{% endif %}>{{ user.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>

                                    {% for val in ['hwaddr', 'uuid', 'path'] %}
                                        <tr>
                                            <td class="details_title">{{ val }}:</td>
                                            <td><input type="text" name="{{ type }}_{{ val }}" size="40" value="{{ item[type][val] }}" /><br></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                </table>

                <p class="title2">options</p>
                <table>
                    <tr>
                        <td class="details_title">exclusions:</td>
                        <td><input type="text" name="exclusions" size="40" value="{{ item.exclusions|join(', ') }}" /></td>
                    </tr>
                    <tr>
                        <td class="details_title">delete:</td>
                        <td><input type="checkbox" name="delete"{% if item.delete %} checked="checked"{% endif %} title="delete removed files at destination" /></td>
                    </tr>
                    <tr>
                        <td class="details_title">recurrence:</td>
                        <td>
                            <input type="number" name="recurrence" title="sync recurrence (hours)" size="2" min="2" max="168" value="{{ item.recurrence }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="details_title">time range:</td>
                        <td>
                            <input type="number" name="hour_start" title="hour before which the sync cant start" size="2" min="-1" max="23" value="{% if item.hour_start %}{{ item.hour_start }}{% else %}-1{% endif %}" /> to
                            <input type="number" name="hour_end" title="hour after which the sync cant start" size="2" min="-1" max="23" value="{% if item.hour_end %}{{ item.hour_end }}{% else %}-1{% endif %}" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="element_more" style="display: none;">
                <table>
                    {% for title, val in [('started', item.started), ('finished', item.finished), ('command', item.cmd)] %}
                        {% if val %}
                            <tr>
                                <td class="details_title">{{ title }}:</td>
                                <td>{{ val }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% if item.log %}
                        <tr>
                            <td class="details_title">log:</td>
                            <td><pre>{{ item.log }}</pre></td>
                        </tr>
                    {% endif %}
                </table>
            </div>

        </form>
    </div>
{% endfor %}

{% endblock %}
